body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}


.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: center;
    color:black;
    margin-bottom: 10px;
}

.login-form p {
    text-align: center;
    color: grey;
    margin-bottom: 20px;
}



.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: black
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.login-form input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.login-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}


